/* .main {
  display: block;
  height: 100%;
  width: 90%;
  max-width: 400px;
  border-radius: 8px;
  margin: 0 auto;
  color: var(--tg-theme-hint-color);
  background-color:var(--tg-theme-secondary-bg-color);
  border-radius: 7%;
} */


.selecters {
  display: block;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  max-width: 400px;
  }
  
  label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1vw;
    font-size: calc(24px + 1vmin);
    padding: 5%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: left;
  }

.select_bar {
  width: 100%;
  
}

  input {
    width: 5%;
  }

.test {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.testIn {
  position: absolute;
  opacity: 0;
}

.testSpan {
  width: 20px;
  height: 20px;
  border: 2px;
  border-color: brown;
  display: flex;
  background-color:blue;
}

.testSpan::before {
  content: '';
  width: 10px;
  height: 10px;
  background-color:aqua;
}
input:checked{
  &+.testSpan::after{
    background-color:green;
  }
}
.testSpan::after {
  content: '';
  width: 10px;
  height: 10px;
  background-color:aqua;
}