.nameform {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 190px);

    }

.input {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-color:var(--tg-theme-secondary-bg-color);
    border-radius: 25px;
    border: 1px solid;
    font-size: medium;
    background-color: var(--tg-theme-bg-color);
    }
