.nameform {
    display: flex;
    align-items: flex-start;
    min-height: calc(100vh - 190px);

    }

.input {
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid var(--tg-theme-hint-color, black);
    font-size: medium;
    background-color: var(--tg-theme-bg-color);
    color: var(--tg-theme-hint-color, rgb(0, 0, 0));
    }
