.example {
    /* background-color: var(--tg-theme-secondary-bg-color); */
    color: var(--tg-theme-text-color);
    font-size: calc(20px +1vmin);
    min-height: 100px;
    /* max-height: 100px; */
    /* display: block;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    word-wrap: break-word;
    position: sticky;
    top: 0px; */
  }

