.example {
    color: var(--tg-theme-text-color);
    font-size: calc(32px + 2vmin);
    min-height: 20vh;
    display: block;
    margin: 0 auto;
    padding-top: 5%;
    padding-left: 7%;
    padding-right: 7%;
    text-align: center;
    word-wrap: break-word;
  }

