.App {
  justify-content: center;
  display: block;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  color: var(--tg-theme-hint-color);
  /* background-color: aqua; */
}

.mySwiper {
  max-height: 100vh;
  /* background-color: blue; */
}


.vertslider {
  max-height: calc(100vh - 190px);
  /* background-color: brown; */
}






